.bash_history
.bash_logout
.cache/
.ssh/known_hosts
.viminfo
.selected_editor
*.log
*.log.*
*.lock
*.sock
*.pid
.lesshst 

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.python_history

## Data Cache
cache/GSM/*
cache/MSM/*
cache/JMAWIS/*
cache/JMAXML/*
cache/GFS/*
cache/GEFS/*
cache/SST/*

## Digdag
/.digdag-wrapper
.digdag
