{% extends "layout2c.html" %}

{% block add_css %}
{% endblock %}

{% block main %}

<section>

	<h2>会社概要<span>Company</span></h2>
	
	<table class="ta1">
		<tr>
			<th>名称</th>
			<td>合同会社　ひよりみ</td>
		</tr>
		<tr>
			<th>所在地</th>
			<td>東京都港区浜松町</td>
		</tr>
		<tr>
			<th>事業内容</th>
			<td>
				<ul>
					<li>気象データを利用したデータ分析</li>
					<li>気象データの可視化アプリ等の作成</li>
					<li>サイトの運営・構築</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>設立</th>
			<td>2017/09/19-</td>
		</tr>
		
	</table>
	
</section>


{% endblock %}
