{% extends "layout.html" %}

{% block add_css %}
{% endblock %}

{% block main %}
<!--メインイメージ-->
<aside id="mainimg">
	<img src="/static/img/corver.jpg" alt="" class="corverimg">
</aside>

<div class="contents">
	<div class="inner">
		
		<section id="new">
			<h2 id="newinfo_hdr" class="close">更新情報・お知らせ<span>What's New</span></h2>
			<dl id="newinfo">
				<dt>2017/09/19</dt>
				<dd>会社設立</dd>
			</dl>
		</section>
		
		<section>
			
			<h2>ビジョン<span>Vision</span></h2>
			
			<h3>気象情報で世界を豊かに</h3>
			<p>ひよりみは、気象情報を使って、防災や減災など、負をいかに減らすかということにとどまらず、利益をどうやって増やすという、「総合気象情報プラットフォーム」を目指します。</p>
		</section>
	</div>
	<!--/inner-->
</div>
<!--/contents-->
{% endblock %}
// http://free-images.gatag.net/2011/10/16/180000.html
