{% extends "layout.html" %}

{% block main %}
<div class="contents">
	<div class="inner">
		<section>
			
			<h2>製品<span>Product</span></h2>
			
			<div class="list">
				<a href="https://itunes.apple.com/jp/app/wmo-station-search/id982409052?mt=8">
					<img src="/static/img/StationSearch.jpg" alt="" class="img">
					<div class="text">
						<h4>WMO Station Search</h4>
						<p>世界の国際気象観測地点を探すことができるアプリ。</p>
					</div>
				</a>
			</div>
			
			<div class="list">
				<a href="https://itunes.apple.com/app/apple-store/id1265628863?pt=38155800&ct=www&mt=8">
					<img src="/static/img/WxViewerLite.jpg" alt="" class="img">
					<div class="text">
						<h4>気象監視Lite</h4>
						<p>気象衛星「ひまわり」、レーダーをアニメーションで監視できるアプリ。</p>
					</div>
				</a>
			</div>
			
			<!--
					<div class="list">
						<a href="service2.html">
							<img src="images/noimg.png" alt="" class="img">
							<div class="text">
								<h4>Sample Title</h4>
								<p>ボックス内のテキストは短めにして下さい。</p>
							</div>
						</a>
					</div>
					-->
		</section>
	</div>
</div>
{% endblock %}
